/*Reset*/

body {
    margin: 0; /*reset*/
    overflow-x: hidden; /* avoid unintentional horizontal scrolling */
}

* {
    font-family: "Work Sans", "Helvetica", "Arial", sans-serif;
    box-sizing: border-box;
}

/* TYPOGRAPHY */


p {
    font-weight: lighter;
    line-height: 1.5;
    font-size: 1.2em;
    font-smooth:always;
    -webkit-font-smooth:always;
    -moz-font-smooth:always;
}

h1 {
    color: blue;
    font-weight: 200;
    /*text-align: center;*/
    font-size: 5em;
    margin-top: 200px;
    /*font-weight: 800;*/
}

#slogan {
    font-size: 0.5em;
    color: grey;
}

h2, h3, h4 {
    font-weight: normal;
    font-size: 2em;
}


/* HEADER */

header {
    width: 100vw;
    height: 100vh;
    padding: 200px;
    background-image: url(images/header.jpg);
    background-size: cover;
}

header .logo {
    height: 25px;
}

header nav {
    position: fixed;
    display: flex;
    align-items: center;
    top:0;
    left: 0;
    width: 100vw;
    padding: 30px;
    background-color: white;
    color: darkgrey;
    box-shadow: darkgrey 0 0 3px;
}

header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0 30px;
}

header nav ul li a, header nav ul li a:visited {
    text-transform: none;
    text-decoration: none;
    color: grey;
    margin: 0 20px;
    font-weight: 200;
}

header nav button {
    position: absolute;
    right: 0;
    background-color: blue;
    text-transform: uppercase;
    height: 100%;
    color: white;
    border: none;
    padding: 0 20px;
}

header nav button a {
    text-decoration: none;
    color: white;
    font-size: 1.3em;
}



/* GENERAL */

#core-features section, footer {
    padding: 100px 200px;
    display: flex;
    align-items: center;
}

#core-features section:nth-child(odd) { /*one in two sections have a bit darker background*/
    background-color: #fbfbfb;
}

#core-features section:nth-child(odd) img, section:nth-child(odd) video {
    margin-left: 30px;
}

#core-features section video, section img {
    /*width: 1000px;*/
    height: 500px;
}

#core-features section div {
    width: 500px;
}

#core-features > h2 {
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
}

/* JOIN IN SECTION */

#join {
    display: block;
    text-align: center;
    font-weight:lighter;
}

#join h2 {
    font-weight: 200;
    font-size: 7em;
}

#join h3 {
    font-weight: 200;
}

#download-buttons {
    display: flex;
    justify-content: center;
}

#download-buttons img {
    height: 50px;
    margin: 40px 20px;
}

/* FOOTER */

footer {
    background-color: #eeeeee;
    padding: 40px 100px 60px;
}

footer img { /*logo bbva*/
    height: 50px;
    margin: 0;
}

footer a {
    margin-left: 100px;
    color: grey;
    text-decoration: none;
}

footer p {
    font-size: 0.8em;
}



/******

    Plugins

 ******/

#plugins {
    background-color: #f6f6f6;
    padding: 100px;
}

#plugins #all-apps {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 80%;
    margin: 0 auto;
}

#plugins #all-apps article {
    width: 280px;
    background-color: white;
    padding: 15px;
    margin: 15px 40px;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    flex-grow: 0; /*grossissement max:0*/
    flex-shrink: 0; /*retrécissement max:0*/
}

#plugins #all-apps article img {
    width: 100%;
    height: auto;
}

#plugins #all-apps::-webkit-scrollbar {
    height: 2px;
    background-color: grey;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#plugins h3 {
    font-size: 1.2em;
}

#plugins h4 {
    font-size: 1em;
    margin-top: -15px;
    margin-bottom: 10px;
}

#plugins a {
    text-decoration: none;
    color: black;
}

#plugins a h3:hover {
    text-decoration: underline;
}