/*****
    Typography
 *****/

* {
    font-family: "GT America", "Robot", sans-serif;
}



/*****
    Header
 *****/

header {
    display: flex;
    justify-content: space-between;
    /*height: 50px;*/
    background-color: #eeeeee;
    padding: 20px;
}

#logo {
    height: 35px;

}

#logo img {
    height: 35px;
}

#searchbar input {
    border: 1px solid #ddd;
    padding: 5px;
}

/*****
    Menu
 *****/

#top-nav {
    height: 50px;
}

#apps-button {
    background-color: blue;
    color: white;
}

#top-nav ul li {
    list-style-type: none;
    padding: 10px 25px;
}

/* drop-down categories menu */
#menu-categories {
    overflow: hidden;
}

#menu-categories ul {
    position: relative;
    padding: 0;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    top: -250px;
    transition: 0.5s ease;
}

#menu-categories span {
    z-index: 2;
    position: relative;
    background-color: white;
}

#menu-categories:hover ul {
    top:0;
    transition: 0.5s ease;
}

#top-nav > ul > li:not(#menu-categories) {
    height: 30px;
    overflow: hidden;
}

#top-nav > ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

#top-nav ul span::after {
    content: "\002304";
}


/*****
    Apps list
 *****/

section#content {
    background-color: #eeeeee;
    padding: 30px;
}

section#all-apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#all-apps article {
    width: 200px;
    background-color: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
